main {
}

main > article > h1 {
	font-size: 64px;
	font-weight: bold;
	letter-spacing: -3px; 
}

main > article > img {
	width: 100%;
	margin: 100px 0px;
}

main > article > p:nth-child(2) {
	color: #858585;
	font-size: 24px;
	display: block;
	width: 650px;
}

main > article > p:nth-child(n+3) {
	font-size: 20px;
	margin: 0px 400px 40px 300px;
}

main > article > p > a {
	color: #000000;
}

main > article > p > a:hover {
	color: #858585;
}

main > section {
	margin: 120px 0px;
}

main > section > h2 {
	font-size: 40px;
}

main > section > div {
	width: 434px;
	display: inline-block;
	vertical-align: top;
}

main > section > div:nth-child(3) {
	margin: 0px 5%;
}

main > section > div > a {
	text-decoration: none;
}

main > section > div > a > img {
	width: 100%;
}

main > section > div > a > h3 {
	color: #000000;
}

main > section > div > a > p {
	color: #858585;
}

main > section > div > a > p:hover {
	text-decoration: underline;
}
